* {
    margin: 0;
    padding: 0;
}

:root{
    --black: #171718;
    --black-border: #26292d;
    --white: #fff;
    --purple: #5c62ec;

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --hearder-text: var(--white);
    --accent: var(--purple);
    --text-color: var(--black);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -o.5px;
    color: var(--page-text-color);
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.nav{
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--hearder-text);
    letter-spacing: normal;
}

.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    color : var(--hearder-text);
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
}

.logo strong{
    font-variant: 700px;
}

.nav-list{
    display: flex;
    column-gap: 40px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    list-style-type: none;
}


.nav-list__link{
    color: var(--hearder-text);
    text-decoration: none;
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover{
    opacity: 0.8;
}

.nav-list__link--active{
    position: relative;
}

.nav-list__link--active:before {
    position: absolute;
    left: 0;
    top: 100%;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

/* header */

.header{
    background-color: var(--dark-bg);
    color: var(--hearder-text);

    min-height: 695px;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url("././img/Abstract\ \(1\).png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.header__wrapper{
    max-width: 660px;
    padding: 0 15px;
    
}

.header__title{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
}

.header__title strong{
    font-size: 60px;
    font-weight: 700;
}

.header__title em{
    font-style: normal;
    color: var(--accent);
}

.header__text{
    margin-bottom: 40px;
    line-height: 1.333;
    font-size: 18px;
}

.header__text p + p{
    margin-top: 0.5em;
}

.btn{
    text-decoration: none;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.btn:hover{
    opacity: 0.8;
}

.btn:active{
    position: relative;
    top: 1px;
}

/* Projects */

.section{
    padding: 70px 0;
}

.title-1{
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--accent);
    text-align: center;
    font-family: sans-serif;
}

.projects{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;    
   
}

.project{
    max-width: 370px;
    background-color: var(--white);
    box-shadow: 0px 5px 35px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.projects__img{
    border-radius: 10px;
}

.projects__title{
    padding: 15px 20px 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    font-family: sans-serif;   
}

.a{
    text-decoration: none; 
    color: var(--black);    
}

li{
    text-decoration: none;
    list-style-type: none;
}


/* footer */

.footer{
    background-color: var(--dark-bg);
    padding: 60px 0 50px;
    color: var(--text-color);
    color: var(--hearder-text);
}

.social{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright{
    font-size: 16px;
}

.copyright p+p{
    margin-top: 0.5rem;
}

.footer__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 27px;
}

.project__img01{
    height: 278px;
    width: 370px;
    border-radius: 10px;
}